**/.pbi/localSettings.json
**/.pbi/cache.abf
**/women-shoes-retail/ignore
**/pj-sales-dashboard/ignore
**/pj-sales-dashboard/.vscode
**/pj-sales-dashboard/dax-queries
**/pj-sales-dashboard/data/ignore
